body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #000000;
    width: 1200px;
    margin: 6px auto 0 auto;
}

div#glowny{
    position: relative;
    width: 100%;
    border: 1px solid #000000;
    min-height: 600px;
}

header#naglowek{
    position: relative;
    height: 200px;
    float: left;
}

div#logo{
    position: relative;
    width: 300px;
    height: 100%;
    background: #FF0000;
    float: left;
}

div#banner{
    position: relative;
    width: 900px;
    height: 100%;
    background: #00FF00;
    float: left;
}

div#zawartosc{

}

aside#lewy_panel{

}

aside#centralny_panel{

}

aside#prawy_panel{
    
}

nav#menu{

}

div#reklama{

}

footer#stopka{
    
}