{% extends 'base.html' %}
{% block title %}
  SKLEP
{% endblock %}

{% block content %}
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Nazwa</th>
                <th scope="col">KOD</th>
                <th scope="col">Cena</th>
                <th scope="col">Opcje</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.barcode }}</td>
                    <td>{{ item.price }}$</td>
                    <td>
                        <button class="btn btn-outline btn-info">Wiecej informacji</button>
                        <button class="btn btn-outline btn-success">Kup to!</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}