body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000; 
    text-align: left;
    font-size: 12pt;
    background: #0000FF url(../img/falcon.jpg);
}

footer{
    text-align: center;
    color: #0000FF;    
    font-size: 8pt;
}
