body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000; 
    text-align: left;
    font-size: 12pt;
}

footer{
    text-align: center;
    color: #0000FF;    
    font-size: 8pt;
}

#obramowanie1{
    width: 200px;
    height: 200px;
    border: 2px #000000 solid;
    display: inline-block;
    border-radius: 20px;
}

#obramowanie2{
    width: 200px;
    height: 200px;
    border: 2px #000000 solid;
    display: inline-block;
    border-radius: 0px 20px;
}

#obramowanie3{
    width: 200px;
    height: 200px;
    border: 2px #000000 solid;
    display: inline-block;
    border-radius: 20px 0px;
}

#obramowanie4{
    width: 200px;
    height: 200px;
    border: 2px #000000 solid;
    display: inline-block;
    border-radius: 0px 20px 40px 10px;
}