body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000; 
    text-align: left;
    font-size: 12pt;
    background-image: url(../img/car.jpeg);
    background-repeat: no-repeat;
    background-position: center bottom;
}

footer{
    text-align: center;
    color: #0000FF;    
    font-size: 8pt;
}
