body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #FF0000;
    width: 1200px;
    margin: 6px auto 0 auto;
}

div#glowny{

}

header#naglowek{

}

div#logo{

}

div#banner{

}

div#zawartosc{

}

aside#lewy_panel{

}

aside#centralny_panel{

}

aside#prawy_panel{
    
}